@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.basic-input:-webkit-autofill,
.basic-input:-webkit-autofill:hover,
.basic-input:-webkit-autofill:focus,
.basic-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #eaecef inset !important; /* Adjust the background color */
  -webkit-text-fill-color: #252a32 !important; /* Adjust the text color */
}

.basic-input {
  @apply w-full mt-2 px-3 py-2 text-darkGrey bg-transparent outline-none border border-darkGrey focus:border-orange shadow-sm rounded-lg transition duration-300 disabled:text-lightGrey;
}
.basic-button {
  @apply px-4 py-2 flex justify-center items-center gap-1 text-sm text-white font-medium rounded-lg bg-orange hover:shadow-xl transition duration-300 disabled:bg-gray-300 disabled:cursor-not-allowed;
}
